<div class="hero-unit">
  <h2><strong>Simple Forum</strong></h2>
  <p><strong>Discussão encadeada de assuntos</strong></p>
  <p><em>Simple Forum</em> registra assuntos que podem entrar em discussão com respostas encadeadas.</p>
  <% unless current_user %>
    <h5><%= link_to 'Fazer o Login &raquo;'.html_safe ,
      new_user_session_path, :class => "nav-link" %></h5>
  <% end %>
</div>

