<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :code, value: @post.code %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit 'submit thread' %>
  </div>
<% end %>
