<% if current_user %>
  <h1>Threads</h1>
  <% unless @post.blank? %>
    <%= render partial: 'form', locals: {thread: nil} %>
  <% end %>
  <table class="table table-striped table-bordered table-condensed table-sm">
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <th>
            <span style="<%= left_spaces_style(post) %>"></span>
            <%= link_to "#{post.code}. #{post.created_at}", posts_path( post_id: post.id ) %>
            <% unless @first_index_page %>
              <%= link_to "reply", thread_path(id: post.id)  %>
            <% end %>
          </th>
          <td><%= post.message %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @posts %>
<% else %>
  <%= render partial: 'pages/app_info' %>
<% end %>
<br>

